
.navbar-container {
	background-color: black;
	width: 100%;
	height: 90px;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.list {
	list-style: none;
	display: flex;
}

.list li {
	margin-left: 15px;
}